<h2>Agendar Asesoría</h2>

<app-back-button></app-back-button>

<form (ngSubmit)="guardar()" class="card-default">

  <label>Programador</label>
  <select 
    [(ngModel)]="appointment.programmer" 
    name="programmer" 
    (change)="loadAvailableHours()"
    required>

    <option value="" disabled selected>Selecciona un programador</option>

    <option *ngFor="let p of programmers" [ngValue]="p">
      {{ p.persona?.nombre }} - {{ p.especialidad?.nombre }}
    </option>
  </select>

  <label>Fecha</label>
  <input 
    type="date" 
    [(ngModel)]="appointment.date" 
    name="date"
    (change)="loadAvailableHours()"
    required>

  <label>Hora disponible</label>
  <select 
    [(ngModel)]="appointment.time" 
    name="time"
    required>

    <option value="" disabled selected>Selecciona una hora</option>

    <option *ngFor="let h of availableHours" [value]="h">
      {{ h }}
    </option>
  </select>

  <p *ngIf="noSchedule" style="color:#ef4444;margin-top:6px;">
     Todas las horas están ocupadas para este día
  </p>

  <label>Comentario</label>
  <textarea 
    [(ngModel)]="appointment.comment" 
    name="comment"
    placeholder="Describe brevemente tu asesoría">
  </textarea>

  <label>Modalidad</label>
  <select [(ngModel)]="appointment.mode" name="mode">
    <option value="Virtual">Virtual</option>
    <option value="Presencial">Presencial</option>
  </select>

  <button 
    class="btn-primary" 
    type="submit"
    [disabled]="noSchedule">

    Agendar

  </button>

</form>
